.App {
  font-family: Roboto;
  margin-left: 0;
}

.user-pic {
  height: 150px;
  width: 150px;
  margin-left: 15px;
  margin-top: 15px;
  object-fit: cover;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tenant-container {
  width: 600px;
  margin-top: 40px;
  height: min-content;
}

.tenant-info {
  display: flex;
  justify-content: center;
}

.tenant-container:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tenant-list {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
  background-size: cover;
}

.add-tenant-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px;
  width: 50%;
  margin: auto;
}

.tenant-details span {
  font-weight: 400;
}

.edit-tenant-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px;
  width: 50%;
  margin: auto;
}

.not-found {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  max-width: 100%;
  height: auto;
}

.title {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 2em;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

Link,
a {
  text-decoration: none;
  color: black;
}

.msg-container {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/1434273/pexels-photo-1434273.jpeg")
      no-repeat center;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.welcome-msg {
  color: orange;
  text-shadow: 2px 2px #000;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  padding-top: 250px;
}

.back-btn {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 15px;
}

